body,html {
    position: relative;
    margin: 0;
    padding: 0;
}
body {
    padding: 15px;
}
* {box-sizing: border-box;}
.box {
    position: absolute;
    border-top: 8px solid #218fbb;
    height: 30px;
    width: 30px;
    background: #033f3a;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

section {
    background: #383126;
    color: #fff;
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin: 15px auto;
    text-align: center;
    border-radius: 15px;
}
#test1 {
    width: 500px;
    line-height: 30px;
    height: 100px;
    padding: 15px;
}
#test4 {
    height: 300px;
}
#test4 span {
    display: block;
}