/* 样式重置 */
* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #eee;
}
ul,li {
    list-style: none;
    padding: 0;
}
/* 容器 */
main {
    height: 96%;
    overflow: auto;
}
section {
    float: left;
    width: calc(33% - 20px);
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 3px #ccc;
    height: 100%;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
/* 日记标题样式 */
section li {
    line-height: 16px;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
    padding-left: 30px;
    transition: all 0.1s;
}
section li:hover {
    text-decoration: underline;
    color: #45b431;
}

/* 侧栏 */
aside {
    opacity: 0;
}
aside,.icon {
    position: relative;
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 20px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 3px #ccc;
    padding: 5px;
    transition: all 0.1s linear;
}
.appear {
    opacity: 1;
    width: 90px;
    height: 105px;
    bottom: 60px;
}
aside a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    color: #666;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: leap 1s ease-in-out infinite;
}
.icon i {
    display: block;
    height: 2px;
    width: 60%;
    margin: 0 auto;
    background: #000;
}

@keyframes leap {
    10% {bottom: 30px;}
    20% {bottom: 15px;}
    30% {bottom: 20px;}
    100% {bottom: 20px;}
}

/* 移动端适配 */
@media screen and (max-device-width:700px) {
    section {
        width: 90%;
        margin: 5px 5%;
        height: auto;
    }
}